.header {
    h1 {
        text-align: center;
        padding: 20px;
        color: rgb(38, 221, 241);
    }

    blockquote {
        max-width: 600px;
        margin: auto;
        padding: 0 20px 20px;
        font-style: italic;
        color: white;
    }
}